---
import UpArrow from '../icons/UpArrow.astro'
---

<section
  class="flex justify-center items-center xl:dark:bg-[#222222] xl:bg-tulip-300 xl:mx-32 xl:my-8 my-3 xl:p-10 rounded-b-md rounded-r-md relative"
>
  <div
    class="2xl:w-[300px] xl:w-[230px] h-[25px] absolute dark:bg-[#222222] bg-tulip-300 left-0 -top-5 rounded-t-md -z-20 xl:block hidden"
  >
  </div>
  <div
    class="2xl:w-[300px] xl:w-[100%] h-[30px] absolute dark:bg-[#262626] bg-tulip-400 left-5 -top-7 rounded-t-md -z-30 xl:block hidden"
  >
  </div>
  <div
    class="xl:w-[97%] 2xl:h-[30px] xl:h-[500px] absolute dark:bg-[#272727] bg-tulip-400 left-5 -top-3 rounded-md -z-40 xl:block hidden"
  >
  </div>
  <article
    class="flex justify-center items-center xl:gap-24 xl:flex-row flex-col"
  >
    <div
      class="flex justify-start items-start flex-col gap-4 xl:text-white text-black xl:bg-transparent bg-slate-100 rounded xl:mx-0 mx-4 p-4 dark:text-white dark:bg-neutral-800"
      id="nosotros"
    >
      <span
        class="text-2xl xl:text-start text-center w-full uppercase font-bold pl-2"
        >Sobre Nosotros</span
      >
      <h1 class="xl:text-7xl text-xl text-pretty max-w-[700px] font-bold">
        Construyendo marcas, diseñando experiencias.
      </h1>
      <p class="xl:text-xl max-w-[800px] mb-2 text-balance">
        En nuestra agencia de publicidad, te aseguramos resultados sólidos. Nos
        asociamos con empresas, marcas y startups para impulsar su presencia en
        el mercado con ideas innovadoras y campañas efectivas. Puedes confiar en
        nosotros para llevar tu marca al siguiente nivel.
      </p>
      <div class="xl:justify-start flex justify-center items-center w-full">
        <button
          class="px-4 py-3 border-2 border-stone-200 flex justify-center items-center gap-3 cursor-pointer xl:w-auto w-full"
        >
          <span> Contactanos</span>
          <UpArrow size="size-4" />
        </button>
      </div>
    </div>
    <figure class="xl:max-w-[650px] relative">
      <div
        class="xl:my-0 my-6 bottom-4 xl:w-[400px] w-[180px] -left-20 animate-spin-clockwise animate-iteration-count-infinite animate-duration-[7000ms]"
      >
        <img src="/rounded.png" alt="" class="w-full" />
      </div>
    </figure>
  </article>
</section>
