<section
  class="xl:dark:bg-[#222222] xl:bg-tulip-300 xl:mx-[180px] xl:my-24 xl:p-10 rounded-md relative text-white"
>
  <h1 class="text-3xl font-bold text-center mb-6">Por que elegirnos</h1>
  <p class="text-lg text-pretty">
    En DeCero, creamos estrategias personalizadas y creativas que garantizan
    resultados medibles. Con un equipo comprometido con la excelencia, te
    ofrecemos soluciones efectivas y atractivas que impulsarán el éxito de tu
    marca. Confía en nuestro equipo de apasionados del marketing, expertos en
    diseño gráfico, diseño y desarrollo web y estrategas digitales para llevar
    tu marca a la cima digital. ¡Contáctanos hoy y deja que llevemos tu visión
    al siguiente nivel!
  </p>
</section>
