<header class="fixed w-full flex justify-center items-center my-4 z-20">
  <ul class="flex gap-6 font-semibold bg-slate-100 py-4 px-12 rounded-lg shadow-xl">
    <li class="text-lg">Nosotros</li>
    <li class="text-xl">AGENCIA DE CERO</li>
    <li class="text-lg">Precios</li>
  </ul>
</header>