---
import Scroll from "./Scroll.astro";
---

<main class="custom-bg h-screen overflow-x-hidden py-[20px] flex flex-col justify-between items-center">
  <div class="flex-grow w-full flex justify-center items-center">
    <h1 class="text-8xl font-semibold uppercase text-white">Estudio Creativo</h1>
  </div>
  <Scroll />
</main>

<style>
  .custom-bg {
    background: linear-gradient(to top, #6ee7b7, #60a5fa);
  }
</style>
