---
import Star from "../icons/Star.astro";

const services = [
  "Desarrollo Web",
  "Identidad Visual",
  "Branding",
  "Publicidad",
  "Despliegue web",
  "Desarrollo Web",
  "Identidad Visual",
  "Branding",
];
---

<article
  class="bg-[#b3b3b3] absolute h-auto bottom-0 left-0 w-screen flex justify-start items-center text-[#191919] font-bold text-3xl overflow-hidden py-4 font-sans"
>
  {
    services.map((service) => (
      <span class="flex justify-center items-center min-w-fit [&>div]:mx-4">
        <div class="">
          <Star />
        </div>
        <div class="">{service}</div>
      </span>
    ))
  }
</article>
